// Based on https://github.com/darlanrod/input-range-scss

$track-color: transparent !default;
$thumb-height: 4px !default;
$thumb-width: 4px !default;
$track-width: 100% !default;
$track-height: 10px !default;
$track-border: none;

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  min-width: 100%;
  transition: all 300ms ease-in-out;
}

@mixin thumb() {
  height: $thumb-height;
  width: $thumb-width;
  border-radius: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

[type=range] {
  position: relative;
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;
  padding: 0;
  height: $track-height;
  background: $track-color;
  min-width: 100%;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $track-color;
    border: none;
    border-bottom: $track-border;
    border-radius: 0;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
  }

  &:focus::-webkit-slider-runnable-track {
    background: $track-color;
  }

  &::-moz-range-track {
    @include track();
    background: $track-color;
    border: none;
    border-bottom: $track-border;
    border-radius: 0;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: $track-color;
    border-color: $track-color;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $track-color;
    border-radius: 0;
  }

  &::-ms-fill-upper {
    background: $track-color;
    border-radius: 0;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }

  &:focus::-ms-fill-upper {
    background: $track-color;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 6px;
    background: $black;
  }

  &:before {
    width: 100%;
    height: 2px;
    opacity: 0.2;
  }

  &:after {
    width: inherit;
    height: 4px;
  }
}

[type='range']::-moz-focus-outer {
  border: 0;
}