
input {
  border: none;
  background: rgba($black, 0.05);
  display: inline-block;
  font-size: 15px;
  height: 40px;
  padding: 0 6px;
}

.text-box {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 1;

  input {
    width: 100%;
    border-bottom: 2px solid rgba($black, 0.1);
  }

  label {
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: $space-small;
  }

  .error-message {
    background: rgba($black, 0.2);
    font-size: 1.4rem;
    padding: $space-small;
    margin-top: $space-small;
  }
}
