@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import './constants';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Condensed';
  background: $yellow;
  color: $black;
  font-size: 16px;
  line-height: 1.2;
}

a {
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}