@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,600');
@import './reset';
@import './constants.scss';
@import './inputs.scss';

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed';
  color: $black;
  font-size: 16px;
  line-height: 1.2;
  min-height: 100vh;

  &:before {
    content: '';
    background: linear-gradient(45deg, #FFAFBD 0%, #F4D03F 100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1
  }
}

a {
  color: $black;
  text-decoration: none;
}

img {
  max-width: 100%;
}

label {
  display: inline-block;
  cursor: pointer;
}

button {
  border: none;
  padding: 6px 12px;
  background: rgba($black, 0.1);
  font-style: italic;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Roboto Condensed';
  cursor: pointer;
}

input[type=radio], input[type=checkbox]{
  display: none;
}

.list {
  background: url("/images/tracks-background.png");

  li {
    height: 25px;
    padding: 0 6px;
    line-height: 25px;
    transition: background 300ms ease-in-out, color 300ms ease-in-out;
    cursor: pointer;

    div {
      display: flex;
      justify-content: space-between;
    }

    &:hover {
      background: rgba($black, 0.2);
    }

    &.selected {
      background: $black;
      color: $yellow;
    }

    &.error {
      background: $red;
    }
  }
}

.tracks {

  li {
    &:before {
      content: '';
      display: inline-block;
      height: 12px;
      width: 30px;
      opacity: 0.7;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: $space-small;
    }

    div {
      margin-left: 35px;
    }

    &.youtube:before {
      background-image: url('/images/icn-youtube.svg')
    }

    &.soundcloud:before {
      background-image: url('/images/icn-soundcloud.svg')
    }
  }
}